body {
    margin: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.wrapper {
    background-color: lightgray;
    padding: 35px 45px;
}
h1 {
    font-size: 40px;
    font-weight: 500;
}
.partOne {
    /* background-color: lightslategray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pic {
    background-color: peachpuff;
    width: 450px;
    height: 200px;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 20px;
    font-weight: 500;
}
h3 {
    font-size: 20px;
    font-weight: 500;
}
.cards {
    /* background-color: lightskyblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}
.card  {
    /* background-color: lavender; */
    width: calc(50% - 5px);
    height: auto;
    display: flex;
    align-items: center;
}
.picture {
    background-color: peachpuff;
    width: 150px;
    height: 120px;
    margin-right: 10px;
}
.cardsContent {
    /* background-color: lightgreen; */
    width: 450px;
    max-height: 120px;
    display: flex;
    flex-direction: column;
}
.cardsContent>h3 {
    margin: 0;
    padding: 0;
}
.buyCards {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
}
.buyCard  {
    background-color: darkseagreen;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    color: aliceblue;
}
.price {
    background-color: aliceblue;
    width: 296px;
    height: 60px;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    color: rgb(50, 50, 50);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buyCard>button {
    width: 250px;
    height: 40px;
    border-radius: 8px;
    background-color: aliceblue;
    font-size: 15px;
    font-weight: 600;
    color: rgb(50, 50, 50);
    border-color: transparent;
}
li {
    padding: 4px 0;
}
.partFour {
    /* background-color: lightslategray; */
    height: 500px;
}
.info {
    /* background-color: palevioletred; */
    display: flex;
    justify-content: center;
    gap: 35px;
    padding-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
}
input {
    width: 400px;
    height: 20px;
    margin: 10px 0;
    border-radius: 8px;
    border-color: transparent;
    background-color: aliceblue;
    padding: 5px;
}
.bigInput{
    height: 150px;
}
.contacts {
    padding-top: 10px;
}
.line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.phone{
    transform: scale(-1, 1);
}
.logos {
    padding-top: 10px;
}
.form>button {
    width: 120px;
    height: 40px;
    padding: 5px;
    border-color: transparent;
    border-radius: 8px;
    background-color: aliceblue;
    font-size: 15px;
    font-weight: 600;
    color: rgb(50, 50, 50);
}
button {
    cursor: pointer;
}
button:active {
    color: snow;
    background-color: lightgreen;
}