:root {
    --body-color: seagreen;
    --text-color: snow;
    --ref-color: inherit;
    --btn-color: rgb(174, 233, 210);
}
.m0 {
    margin: 0;
}
.mt-20 {
    margin-top: 20px;
}
.p-10 {
    padding: 10px;
}
.p7-25 {
    padding: 7px 25px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-25 {
    padding-bottom: 25px;
}
.w-200 {
    width: 200px;
}
.bgc {
    background-color: var(--body-color);
}
.c {
    color: var(--text-color);
}
.c-ref {
    color: var(--ref-color);
}
.ff-ss {
    font-family: sans-serif;
}
.fz-50 {
    font-size: 50px;
}
.fw-300  {
    font-weight: 300;
}
.fw-200 {
    font-weight: 200;
}
.fw-500 {
    font-weight: 500;
}
.txal-c {
    text-align: center;
}
.txt-u {
    text-transform: uppercase;
}
.bgimg-u {
    background-image: url(https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8fDB8fA%3D%3D&w=1000&q=80);
}
.bgpos-cov {
    background-position: cover;
}
.bgc-b  {
    background-color: var(--btn-color);
}
.h-vh {
    height: 650px;
}
.df {
    display: flex;
}
.fld-c {
    flex-direction: column;
}
.jc-c {
    justify-content: center;
}
.alit-c {
    align-items: center;
}
.g-40 {
    gap: 40px;
}
.bd-n {
    border: none;
}
.bdrs-20 {
    border-radius: 20px;
}