!!! 5
%html
    %head{lang: "en"}
        %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
        %meta{charset: "UTF-8"}/
        %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
        %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
        %title Citrus Farm
        %link{href: "style.css", rel: "stylesheet"}/
    %body
        .mainContainer1
            .insideContainer1
                %h1 Citrus Farm
                %p We export from Cyprus to Europe quality fresh products: White & Red Grapefruit, Valencia Oranges, Pomegranate, Mandoras & Nova Mandarins.
                %form{:action => "index.html", :target => "_self"}
                    %button
                        %b CONTACT US
        .mainContainer2
            .insideContainer2
                %p{:class => "header"}
                    %b Healthy
                    Food
                %h2 01
                %p{:class => "header2"}
                    Easy to
                    %b Use Tools
                %p{:class => "text"} Strategic planning is an organization’s process for defining their strategy so that they can accomplish specific goals and objectives. We offer affordable custom website design done by professionals.
            .insideContainer3
                %p{:class => "text"} Strategic planning is an organization’s process for defining their strategy so that they can accomplish specific goals and objectives. We offer affordable custom website design done by professionals.
                %h2 02
                %p{:class => "header2"}
                    Special
                    %b Discounts
                %p{:class => "text"} We can help you to boost engagement with your visitors by ensuring that people have access to the information that they. A business concept is a statement that describes the reach and reason of existence of a given business idea.